h1{
	margin:0 auto;
	display:block; 
	width:30em;
	margin-top:1em;
	margin-bottom:1em;
	font-size:48px;
	font-family:Arial;
	text-align:center;
}
p{
	margin:0 auto;
	display:block; 
	width:27em;
	margin-top:2em;
	margin-bottom:2em;
	font-weight:bold;
	font-size:24px;
	font-family:Arial;
	text-align:center;
}
.question1{
	margin:0 auto;
	display:block;
	width:28em;
	margin-top:1em;
	margin-bottom:2em;
	font-size:16px;
	font-family:Ariel;
	font-style:italic;
}
input[type=submit]{
	margin:0 auto;
	display:block; 
	width:10em;
	height:2em;
	background-color:lightblue;
	margin-bottom:2em;
	font-weight:bold;
	font-family:Ariel;
	font-size:18px;
	border-radius:3px;
	-webkit-border-radius: 3px; 
    -moz-border-radius: 13px; 
	border: 2px solid #a1a1a1;
}
img{
	margin:0 auto;
	display:block; 
	width:20em;
	margin-top:1em;
	margin-bottom:2em;
}
body{
	background-color:lightgrey;
}
.answers{
    margin:0 auto;
	display:block; 
	width:12em;
	height:4em;
	margin-bottom:2em;
	font-weight:bold;
	font-family:Ariel;
	font-size:22px;
	text-align:center;
}
.result{
	margin:0 auto;
	display:block;
	width:28em;
	margin-top:1em;
	margin-bottom:2em;
	font-size:24px;
	font-family:Ariel;
	font-style:italic;
	text-align:center;
}